/* tablets */
@media (min-width: 767px) {


#pages {
	padding-bottom: 30px;
	margin-bottom: 50px;

	.container {
		.row-fluid {
			margin-top: 20px;
		
			.span7 {
				position: relative;
				margin-top: 35px;
				height: 305px;
				
				.graphic {
					position: absolute;
					width: 460px;
					height: 295px;
					left: -70px;
	
					@include background(inline-image("svg/graphic_intro.svg") no-repeat);
					
					a {
						@include squish-text;
						position: absolute;
						display: block;
						width: 164px;
						height: 85px;
						top: 82px;
						left: 173px;
					}
				}
			}
		
			.intro {
				.facebookRegister {
					font-size: 18px;
					margin: 20px 0 0 0;
				}
			}
		}
	}
}

#grid {
	.subMenu {
		.row-fluid {
			.title {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
				@include box-shadow(none);
			}
			
			.category {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
				@include box-shadow(none);
				margin-top: 10px;
			}
			
			.emotion {
				margin-top: 10px;
			}
		}
	}
	
	.itemGrid {
		.videoHolder {
			.video {
				width: 100% !important;
			}
		}
	}
}

#footer {

	.row-fluid {
		
		.logo {
			@include squish-text;
			width: 80px;
			height: 80px;
			@include background(inline-image("svg/logo_footer.svg") no-repeat);
			margin-top: 30px;
		}
		
		.social {
			
			ul {
				float: right;
			}
			
			p {
				margin-right: 5px;
				float: right;
			}
		}
	}
}

}


/* desktop */
@media (min-width: 979px) {

#pages {
	.container {
		.row-fluid {
			
			.span7	{
				.graphic {
					left: 0;
				}
			}
			.intro {
			
				header {
				h2 {
					font-size: 25px;
					}
				}

				.facebookRegister {
					text-align: center;
				}
			}
		}
	}
}

}