/* tablets */
@media (min-width: 767px) {

#footer {

	.row-fluid {
		
		.logo {
			@include squish-text;
			width: 80px;
			height: 80px;
			@include background(inline-image("svg/logo_footer.svg") no-repeat);
			margin-top: 30px;
		}
	}
}

}