body {
	@include background(image-url("_bg_body.jpg"));
	padding: 0;
}

.container {
	padding: 0 20px;
}

#header {
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
	@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
	
	.container{
		
		.row-fluid {
			
			.span5 {
				margin-top: 20px;
				border-bottom: 1px solid #ededed;
				
				h1 {
					
					a {
						padding-left: 55px;
						display: block;
						height: 45px;
						width: 200px;
						font-size: 20px;
						font-family: $openSansBold;
						color: #424141;
						@include background(inline-image("svg/logo.svg") no-repeat);
						background-position: left center;
						margin: 0 auto;
						
						&:hover {
							color: #000;
							text-decoration: none;
						}
					}
				}
			}
			
			.span7 {
			.row-fluid {
					
					.span3 {
						margin-top: 10px;
						border-bottom: 1px solid #ededed;
						
							.language {
								@include clearfix;
								color: #9d9d9d;
								display: block;
							
								.world {
									float: left;
									width: 20px;
									height: 20px;
									margin-right: 8px;
									@include background(inline-image("svg/menu_world.svg") no-repeat);
								}
								
								.icon {
								float: right;
								width: 8px;
								height: 5px;
								@include background(inline-image("svg/select_icon.svg") no-repeat);
								margin: 8px 10px 0 10px;
								}
								
								&:hover {
									text-decoration: none;
								}
								
							}
							
							.about {
								@include clearfix;
								color: #9d9d9d;
								display: block;
								
								.about {
									float: left;
									width: 20px;
									height: 20px;
									margin-right: 8px;
									margin-top: 3px;
									@include background(inline-image("svg/menu_about.svg") no-repeat);
								}
								
								.icon {
								float: right;
								width: 8px;
								height: 5px;
								@include background(inline-image("svg/select_icon.svg") no-repeat);
								margin: 8px 10px 0 10px;
								}
								
								&:hover {
									text-decoration: none;
								}
								
							}
						}
					}
					
					.span6 {
						@include clearfix;
							margin: 10px 0;
						
						a {
							margin-top: 8px;
							float: left;
							color: #9d9d9d;
							
							&:hover {
								text-decoration: none;
							}
						}
						
						.avatar {
							width: 40px;
							height: 40px;
							float: right;
							@include background(inline-image("svg/avatar_bg.svg") no-repeat);
							background-position: center 40%;
							background-color: #ededed;
							
							.top {
						position: absolute;
						width: 40px;
						height: 40px;
						@include background(inline-image("svg/avatar_top.svg") no-repeat);
						z-index: 1;
							}
						}
					}
				}
			}
	}
}

#pages {
	padding-bottom: 20px;
	border-bottom: 1px solid #d3d2d2;
	@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
	
	.container {
		
		.row-fluid {
			
			.intro {
				
				header {
					margin-top: 20px;
					
					h2 {
						color: #e5382f;
						text-transform: uppercase;
						line-height: 1.2em;
						font-size: 28px;
					}
				}
				
				.facebookRegister {
					width: 85%;
					display: block;
					margin: 20px auto 0;
					background-color: #334f8a;
					color: #fff;
					@include text-shadow(none);
					border: none;
					@include box-shadow(0 2px 0 0 rgba(9,33,82,1));
					font-size: 16px;
					@include background(inline-image("svg/facebook.svg") no-repeat #334f8a);
					background-position: 3px 0;
					text-align: right;

					strong {
						font-family: $openSansBold;
					}
				}
			}
		}
	}
}

#grid {
	margin-top: 20px;

	.subMenu {
		
		.row-fluid {
		
			&.menu {
				margin-bottom: 30px;
			}
			
			.title {
				padding-bottom: 10px;
				margin-bottom: 15px;
				border-bottom: 1px solid #D3D2D2;
				@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
				
				h3 {
					color: #989797;
					font-size: 22px;
					font-family: $openSansSemiBold;
					margin: 0;
					padding-left: 30px;
					@include background(inline-image("svg/title_icon.svg") no-repeat);
					background-position: left center;
				}
			}
			
			.category {
				padding-bottom: 20px;
				margin-bottom: 15px;
				border-bottom: 1px solid #D3D2D2;
				@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
				
				p {
					margin-right: 20px;
					color: #989797;
					margin-top: 3px;
				}
				
				.dropdown {
						text-align: left;
						
						.btn {
							@include clearfix;
							
							.icon {
								float: right;
								width: 8px;
								height: 5px;
								@include background(inline-image("svg/select_icon.svg") no-repeat);
								margin: 8px 0 0 10px;
							}
						}
					}
			}
			
			.emotion {
				
				p {
					color: #989797;
					margin-top: 5px;
					margin-right: 20px;
				}
				
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
				
					li {
						float: left;
						margin-right: 5px;
					
						&:last-child {
						
							margin-right: 0;
						}
						
						&.active {
							
							a {
								&.sad {
								@include background(inline-image("svg/sad_active.svg") no-repeat);
								}
								
								&.normal {
								@include background(inline-image("svg/normal_active.svg") no-repeat);
								}
								&.happy {
								@include background(inline-image("svg/happy_active.svg") no-repeat);
								}
							}
						}
						
						a {
							height: 31px;
							width: 30px;
							display: block;
							@include squish-text;
							
							&.sad {
								@include background(inline-image("svg/sad.svg") no-repeat);
							}
							
							&.normal {
								@include background(inline-image("svg/normal.svg") no-repeat);
							}
							
							&.happy {
								@include background(inline-image("svg/happy.svg") no-repeat);
							}
							
							&:hover {
								
								&.sad {
								@include background(inline-image("svg/sad_active.svg") no-repeat);
								}
								
								&.normal {
								@include background(inline-image("svg/normal_active.svg") no-repeat);
								}
								&.happy {
								@include background(inline-image("svg/happy_active.svg") no-repeat);
								}
							
							}
						}
					}
					
				}
			}
		}
	}
	
	.itemGrid {
		
		.item {
			background: #fff;
			border: 1px solid #d2d2d2;
			@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
			margin-bottom: 20px;
			
			.videoHolder {
				padding: 10px;
				
				.video {
					width: 260px;
					height: 135px;
					background: #ededed;
				}
			}
			
			header {
				padding: 0 10px;
				h4 {
					margin: 0 0 10px 0;
					font-family: $openSansBold;
					line-height: 1.4em;
				}
			}
			
			.user {
				padding: 10px;
				border-top: 1px solid #d2d2d2;
				@include clearfix;
				
				&.sad {
						@include background(inline-image("svg/sad.svg") no-repeat);
					background-position: 95% center;
					}
					
				&.normal {
						@include background(inline-image("svg/normal.svg") no-repeat);
					background-position: 95% center;
					}
					
				&.happy {
						@include background(inline-image("svg/happy.svg") no-repeat);
					background-position: 95% center;
					}
				
				.avatar {
					width: 40px;
					height: 40px;
					float: left;
					margin-right: 10px;
					@include background(inline-image("svg/avatar_bg.svg") no-repeat);
					background-position: center 40%;
					background-color: #ededed;
					
					.top {
						position: absolute;
						width: 40px;
						height: 40px;
						@include background(inline-image("svg/avatar_top.svg") no-repeat);
						z-index: 1;
					}
				}
				
				.content {
					float: left;
					width: 70%;

					
					a {
						margin: 0;
						font-family: $openSansBold;
						font-size: 14px;
						color: #6b6b6b;
						
						&:hover {
							border-bottom: none;
						}
					}
					
					time {
						display: block;
						margin-top: -3px;
						font-family: $openSansSemiBoldItalic;
						font-size: 12px;
						color: #989797;
					}
				}
			}
		}
		
		.ads {
			background: #fff;
			border: 1px solid #d2d2d2;
			@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
			overflow: hidden;
			margin-bottom: 20px;
			
			.addBlock {
				width: 300px;
				height: 250px;
				background: #ccc;
				margin: 0 auto;
			}
		}
	}
}

#footer {
	margin-top: 30px;
	background: #1f1f1f;
	border-top: 1px solid #fafafa;
	padding-bottom: 50px;
	
	.row-fluid {

		.list {
			
			h5 {
				color: #fa5d54;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			
			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				
				li {
					
					a {
						color: #fff;
						font-size: 12px;
						
						&:hover {
							color: #e64239;
							text-decoration: none;
						}
					}
				}
			}
		}
		
		.social {
			margin-top: 40px;
			@include clearfix;
			
			ul {
				list-style: none;
				margin: 0 0 20px 0;
				padding: 0;
				@include clearfix;
				width: 192px;
				
				li {
					float: left;
					margin-right: 10px;
					
					&:last-child {
						margin-right: 0;
					}
					
					a {
						width: 57px;
						height: 55px;
						
						display: block;
						@include squish-text;
						background-position: -1px 0;
						
						&.google {
							@include background(inline-image("svg/footer_google.svg") no-repeat);
						}
						
						&.facebook {
							@include background(inline-image("svg/footer_facebook.svg") no-repeat);
						}
						
						&.twitter {
							@include background(inline-image("svg/footer_twitter.svg") no-repeat);
						}
						
						&:hover {
							
							&.google {
								background-position: 0 -55px;
							}
							
							&.facebook {
								background-position: 0 -55px;
							}
							
							&.twitter {
								background-position: 0 -55px;
						}
						}
					}
				}
			}
			
			p {
				color: #fff;
				font-size: 15px;
			}
		}
	}
}

.textPage {
	margin-top: 30px;
	h2 {
		color: #000;
	}
	
	h3 {
		color: #4a4949;
		line-height: 1.4em;
	}
	
	a {
		color: #cc2f28;
		
		&:hover {
			color: #781b17;
		}
	}
}