body {
	background: #1f1f1f;
	padding: 0;
}

body.videoRecorder, body.videoPlayer {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

	a {
		color: #cc2f28;

		&:hover {
			color: #781b17;
		}
	}

#content {
	padding: 15px 0;
	@include background(image-url("_bg_body.jpg"));
}

.container {
	padding: 0 20px;
}

#header {
	background: #fff;
	border-bottom: 1px solid #d9d9d9;
	@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));

	.container{

		.row-fluid {

			.span5 {
				margin-top: 20px;
				border-bottom: 1px solid #ededed;

				h1 {

					a {
						padding-left: 55px;
						display: block;
						height: 45px;
						width: 200px;
						font-size: 20px;
						font-family: $openSansBold;
						color: #424141;
						@include background(inline-image("svg/logo.svg") no-repeat);
						background-position: left center;
						margin: 0 auto;

						&:hover {
							color: #000;
							text-decoration: none;
						}
					}
				}
			}

			.span7 {
			.row-fluid {

					.span3 {
						margin-top: 10px;
						border-bottom: 1px solid #ededed;

							.language {
								@include clearfix;
								color: #9d9d9d;
								display: block;

								.world {
									float: left;
									width: 20px;
									height: 20px;
									margin-right: 8px;
									@include background(inline-image("svg/menu_world.svg") no-repeat);
								}

								.icon {
								float: right;
								width: 8px;
								height: 5px;
								@include background(inline-image("svg/select_icon.svg") no-repeat);
								margin: 8px 10px 0 10px;
								}

								&:hover {
									text-decoration: none;
								}

							}

							.about {
								@include clearfix;
								color: #9d9d9d;
								display: block;

								.about {
									float: left;
									width: 20px;
									height: 20px;
									margin-right: 8px;
									margin-top: 3px;
									@include background(inline-image("svg/menu_about.svg") no-repeat);
								}

								.icon {
								float: right;
								width: 8px;
								height: 5px;
								@include background(inline-image("svg/select_icon.svg") no-repeat);
								margin: 8px 10px 0 10px;
								}

								&:hover {
									text-decoration: none;
								}

							}
						}
					}

					.span6 {
						@include clearfix;
							margin: 10px 0;

						a {
							margin-top: 8px;
							float: left;
							color: #9d9d9d;

							&:hover {
								text-decoration: none;
							}
						}

						.facebookSignOff {
							font-size: 0.8em;
							margin: 0;
						}

						.avatar {
							width: 40px;
							height: 40px;
							float: right;
							@include background(inline-image("svg/avatar_bg.svg") no-repeat);
							background-position: center 40%;
							background-color: #ededed;

							.top {
								position: absolute;
								width: 40px;
								height: 40px;
								@include background(inline-image("svg/avatar_top.svg") no-repeat);
								z-index: 1;
							}
						}
					}
				}
			}
	}
}

#pages, #business {
	padding-bottom: 20px;

	.container {

		.row-fluid {

			.intro {

				header {
					margin-top: 20px;

					h2 {
						color: #e5382f;
						text-transform: uppercase;
						line-height: 1.2em;
						font-size: 28px;
					}
				}

				.light {
					color: #868686;
					font-family: $openSansRegular;
				}
			}

			.facebookRegister, .facebookRegisterLayout {
				width: 100%;
				@include box-sizing(border-box);
				display: block;
				margin: 20px auto 0;
				background-color: #334f8a;
				color: #fff;
				@include text-shadow(none);
				border: none;
				@include box-shadow(0 2px 0 0 rgba(9,33,82,1));
				font-size: 16px;
				@include background(inline-image("svg/facebook.svg") no-repeat #334f8a);
				background-position: 3px 0;
				text-align: center;

				strong {
					font-family: $openSansBold;
				}
			}
		}
	}
}

#business {
	.container {
		.lineBottom {
			padding-bottom: 20px;
			margin-bottom: 20px;
		}

		.info {
			color: #868686;
		}
	}
}

#team, #location {

		.intro {
		margin-bottom: 30px;
		margin-top: 40px;
		text-align: center;

		blockquote {
			font-family: $openSansRegular;
			font-size: 18px;
			line-height: 1.5em;
			padding: 0;
			margin: 0 0 10px;
		}

		a {
			margin-bottom: 20px;
			font-size: 24px;
			font-family: $openSansBold;
			color: #d93735;

			&:hover {
				text-decoration: none;
				color: darken(#d93735, 10%);
			}
		}

		h3 {
			margin-top: 30px;
			color: #424141;
			text-transform: uppercase;
		}
	}
}

#team {
	padding-bottom: 20px;
	margin-bottom: 10px;

	.item {
		text-align: center;
		margin-bottom: 35px;

		.avatarHolder {
			width: 150px;
			height: 150px;
			margin: 0 auto;
			@include background(inline-image("svg/avatar_bg_big.svg") no-repeat);
			background-position: center center;
			@include border-radius(500px);
			background-color: #f8f8f8;
			border: 1px solid #d2d2d2;

			&.wanted {
				@include background(inline-image("svg/avatar_bg_big_wanted.svg") no-repeat);
				background-position: center center;
				background-color: #f8f8f8;
			}

			&.filip {
				@include sprite(Filip_bw);

				&:hover {
					@include sprite(Filip_color);
				}
			}

			&.peter {
				@include sprite(Peter_bw);

				&:hover {
					@include sprite(Peter_color);
				}
			}
		}

		h4 {
			color: #989797;
			font-family: $openSansSemiBold;
			margin-bottom: 0;
			line-height: 1.5em;

			a {
				color: #989797;

				&:hover {
					color: darken(#989797, 20%);
					text-decoration: none;
				}
			}
		}
	}
}

#location {
	.map {
		background: #fff;
		min-height: 200px;
		margin-bottom: 30px;
	}

	.info {
		ul {
			margin: 0;
			padding: 0;
			list-style: none;

			li {
				margin-bottom: 5px;

				address {
					display: inherit;
					line-height: inherit;
					margin-bottom: 0;
				}

				strong {
					font-family: $openSansBold;
				}

				a {
					color: #ce2a28;

					&:hover {
						color: darken(#ce2a28, 20%)
					}
				}
			}
		}
	}
}

.lineBottom {
			border-bottom: 1px solid #d3d2d2;
			@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
	}

#grid {
	margin-top: 20px;

	.subMenu {

		.row-fluid {

			&.menu {
				margin-bottom: 30px;
			}

			.title {
				padding-bottom: 10px;
				margin-bottom: 15px;
				border-bottom: 1px solid #D3D2D2;
				@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));

				h3 {
					color: #989797;
					font-size: 22px;
					font-family: $openSansSemiBold;
					margin: 0;
					padding-left: 30px;
					@include background(inline-image("svg/title_icon.svg") no-repeat);
					background-position: left center;
				}
			}

			.category {
				padding-bottom: 20px;
				margin-bottom: 15px;
				border-bottom: 1px solid #D3D2D2;
				@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));

				p {
					margin-right: 20px;
					color: #989797;
					margin-top: 3px;
				}

				.dropdown {
						text-align: left;

						.btn {
							@include clearfix;

							.icon {
								float: right;
								width: 8px;
								height: 5px;
								@include background(inline-image("svg/select_icon.svg") no-repeat);
								margin: 8px 0 0 10px;
							}
						}
					}
			}

			.emotion {

				p {
					color: #989797;
					margin-top: 5px;
					margin-right: 20px;
				}

				ul {
					list-style: none;
					margin: 0;
					padding: 0;

					li {
						float: left;
						margin-right: 5px;

						&:last-child {

							margin-right: 0;
						}

						&.active {

							a {
								&.sad {
								@include background(inline-image("svg/sad_active.svg") no-repeat);
								}

								&.normal {
								@include background(inline-image("svg/normal_active.svg") no-repeat);
								}
								&.happy {
								@include background(inline-image("svg/happy_active.svg") no-repeat);
								}
							}
						}

						a {
							height: 31px;
							width: 30px;
							display: block;
							@include squish-text;

							&.sad {
								@include background(inline-image("svg/sad.svg") no-repeat);
							}

							&.normal {
								@include background(inline-image("svg/normal.svg") no-repeat);
							}

							&.happy {
								@include background(inline-image("svg/happy.svg") no-repeat);
							}

							&:hover {

								&.sad {
								@include background(inline-image("svg/sad_active.svg") no-repeat);
								}

								&.normal {
								@include background(inline-image("svg/normal_active.svg") no-repeat);
								}
								&.happy {
								@include background(inline-image("svg/happy_active.svg") no-repeat);
								}

							}
						}
					}

				}
			}
		}
	}

	.itemGrid {

		.item {
			cursor: pointer;
			background: #fff;
			border: 1px solid #d2d2d2;
			@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
			margin-bottom: 20px;

			.videoHolder {
				padding: 10px;

				.video {
					width: 260px;
					height: 170px;
					display: block;
					@include background(inline-image("svg/no_image.svg") no-repeat center center #ededed);

					&.loading {
						@include background(image-url("loader.gif") no-repeat center center #ededed);
					}

					img {
						height: 170px;
					}
				}

			}

			header {
				padding: 0 10px;
				h4 {
					margin: 0 0 10px 0;
					font-family: $openSansBold;
					line-height: 1.4em;
				}
			}

			.user {
				padding: 10px;
				border-top: 1px solid #d2d2d2;
				@include clearfix;

				&.sad {
						@include background(inline-image("svg/sad.svg") no-repeat);
					background-position: 95% center;
					}

				&.neutral {
						@include background(inline-image("svg/normal.svg") no-repeat);
					background-position: 95% center;
					}

				&.happy {
						@include background(inline-image("svg/happy.svg") no-repeat);
					background-position: 95% center;
					}

				.avatar {
					width: 40px;
					height: 40px;
					float: left;
					margin-right: 10px;
					@include background(inline-image("svg/avatar_bg.svg") no-repeat);
					background-position: center 40%;
					background-color: #ededed;

					.top {
						position: absolute;
						width: 40px;
						height: 40px;
						@include background(inline-image("svg/avatar_top.svg") no-repeat);
						z-index: 1;
					}
				}

				.content {
					float: left;
					width: 70%;


					a {
						margin: 0;
						font-family: $openSansBold;
						font-size: 14px;
						color: #6b6b6b;

						&:hover {
							border-bottom: none;
						}
					}

					time {
						display: block;
						margin-top: -3px;
						font-family: $openSansSemiBoldItalic;
						font-size: 12px;
						color: #989797;

						abbr {
							border-bottom: none;
						}
					}
				}
			}
		}

		.ads {
			background: #fff;
			border: 1px solid #d2d2d2;
			@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
			overflow: hidden;
			margin-bottom: 20px;

			.adBlock {
				width: 300px;
				height: 250px;
				background: #ccc;
				margin: 0 auto;
				@include background(inline-image("svg/adblock.svg") no-repeat);
			}
		}
	}
}

.beta {
	.controls {
		.form {
			.inputPassword {
				width: 100%;
				height: 47px;
				padding: 0 15px;
				font-size: 16px;
				color: #777777;
				border: 1px solid #c1c1c1;
				@include box-shadow(0 1px 0 0 rgba(255,255,255,0.7));
				@include box-sizing(border-box);
			}
		}
		
		#betaAccess {
			width: 100%;
		}
	}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

#grid {
	.itemGrid {
		.item {
			.videoHolder {
				.video {
					&.loading {
						@include background(image-url("loaderx2.gif") no-repeat center center #ededed);
						background-size: 50px 50px;
					}
				}
			}
		}
	}
}

}

.textPage {
	margin-top: 30px;
	h2 {
		color: #000;
	}

	h3 {
		color: #4a4949;
		line-height: 1.4em;
	}
}

.plugins {
	margin-top: 50px;

	.plugin {
		padding: 20px;
		background: #fff;
		border: 1px solid #d2d2d2;
		@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
		text-align: center;
		margin-bottom: 30px;

		.icon {
			width: 50px;
			height: 50px;
			//outline: 1px solid red;
			margin: 0 auto;

			&.chrome {
				@include sprite(chrome);
			}

			&.firefox {
				@include sprite(firefox);
			}

			&.safari {
				@include sprite(safari);
			}
		}

		h2 {
			color: #4c4c4c;
			margin: 0;
			margin-bottom: 10px;
			border-bottom: 1px solid #e6e6e6;
		}

		.btn {
			margin-top: 10px;
			@include box-sizing(border-box);
			width: 100%;
		}

		&.notReady {
			h2 {
				color: #a9a9a9;
			}

			p {
				color: #bababa;
			}
		}
	}
	
	.download {
		padding: 20px;
		background: #f5f5f5;
		border: 1px solid #d2d2d2;
		@include box-shadow(0 1px 0 0 rgba(255,255,255,0.6));
		margin-bottom: 30px;
		
		ol {
			li {
				margin-bottom: 19px;
			}
		}
	}
}

.download {
	
}

#users.dashboard .plugins {
	margin-top: 0;
}


.getStarted {
	margin-top: 30px;
}

#comments {
		background-color: #FFFFFF;
		border: 1px solid #C4CDE0;
		@include border-radius(3px);
		@include box-shadow(0 0 0 4px rgba(100,100,100,0.2));
		margin: 30px 0 20px;
		color: #9D9D9D;
		position: relative;

		.header {
			border-bottom: 1px solid #bfbfbf;

			.username {
				@include clearfix;
				padding: 0 20px;

				h3 {
					float: left;
					width: 60%;
					color: #424141;
					margin: 0;
					padding: 0;
				}

				time {
					float: right;
					width: 40%;
					text-align: right;
					margin-top: 10px;
				}
			}
		}

		.mobile {
			padding: 20px;
		}
}

.error {
	.title {
		margin-top: 20px;
		h3 {
			color: #e46c67;
			text-align: center;
		}
	}
}

#erroricon {
	width: 160px;
	height: 160px;
	margin: 30px auto;
	@include background(inline-image("svg/error.svg") no-repeat);
}


.report {
	margin: 10px 0;
	text-align: center;

	.signup {
			background: #334f8a;
			color: #fff;
			@include text-shadow(none);
			border: none;
			@include box-shadow(0 2px 0 0 rgba(9,33,82,1));
			font-size: 16px;
			padding: 10px 25px;
			&:hover {
				color: #fff;
				background: darken(#334f8a, 15%);
			}
	}

	a {
		color: #aca8a7;
		&:hover {
			color: darken(#aca8a7, 30%);
		}
	}
}

#footer {
	background: #1f1f1f;
	border-top: 1px solid #fafafa;
	padding-bottom: 50px;

	.row-fluid {

		.list {

			h5 {
				color: #fa5d54;
				margin-bottom: 0;
				padding-bottom: 0;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {

					a {
						color: #fff;
						font-size: 12px;

						&:hover {
							color: #e64239;
							text-decoration: none;
						}
					}
				}
			}
		}

		.social {
			margin-top: 40px;
			@include clearfix;

			ul {
				list-style: none;
				margin: 0 0 20px 0;
				padding: 0;
				@include clearfix;
				width: 192px;

				li {
					float: left;
					margin-right: 10px;

					&:last-child {
						margin-right: 0;
					}

					a {
						width: 57px;
						height: 55px;

						display: block;
						@include squish-text;
						background-position: -1px 0;

						&.google {
							@include background(inline-image("svg/footer_google.svg") no-repeat);
						}

						&.facebook {
							@include background(inline-image("svg/footer_facebook.svg") no-repeat);
						}

						&.twitter {
							@include background(inline-image("svg/footer_twitter.svg") no-repeat);
						}

						&:hover {

							&.google {
								background-position: 0 -55px;
							}

							&.facebook {
								background-position: 0 -55px;
							}

							&.twitter {
								background-position: 0 -55px;
						}
						}
					}
				}
			}

			p {
				color: #fff;
				font-size: 15px;
			}
		}
	}

	.madeBy {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #030303;
		@include box-shadow (inset 0 1px 0 0 rgba(65,65,65,0.6));

		p {
			color: #4a4a4a;
		}

		a {
			color: #e33e35;
			font-family: $openSansBold;

			&:hover {
				text-decoration: none;
				color: lighten(#e33e35, 6%);
			}
		}
	}
}

.formError {
	@extend .help-inline;
}
